<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MqttServer" value="dicjLinux01.CegepJonquiere.ca"/>
		<add key="MqttPort" value ="1833"/>
		<add key="MqttId" value="dicj"/>
		<add key="MqttPass" value ="dicj"/>
		<add key="MqttTopic1" value ="CLOUD/BALDURS_SLAVE/CONTROLEUR/CMD/#"/>
		<add key="MqttTopic2" value ="CLOUD/BALDURS_SLAVE/MODULE/STATUT/#"/>
		<add key="MqttTopic3" value ="CLOUD/BALDURS_SLAVE/PORTAIL/STATUT/#"/>
		<add key="MqttTopic4" value ="CLOUD/BALDURS_SLAVE/SERVICE/STATUT/#"/>
	</appSettings>
</configuration>