@page
@using ASP_Cloud.Services;
@using Microsoft.Azure.Cosmos;
@using ASP_Cloud.Models;
@model ASP_Cloud.Pages.AutoriserP04Model

@{
  
}

<!DOCTYPE html>
<html>
<head>
    <title>Autoriser P04</title>
</head>
<body>
    <h1>Autoriser P04</h1>
    <p>Cette page est accessible après avoir autorisé la séquence P04.</p>
</body>
</html>


