<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefonctionyohanguillaume.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0b0e8c4-34c4-4f3a-8236-80cbb7542ce3/resourceGroups/exploration/providers/Microsoft.Web/sites/AzureFonctionYohanGuillaume</ResourceId>
    <UserName>$AzureFonctionYohanGuillaume</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefonctionyohanguillaume.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>