<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefonctions20231204124516.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/128884ee-9705-4ca7-ba5c-c69f929b3207/resourcegroups/BD/providers/Microsoft.Web/sites/AzureFonctions20231204124516</ResourceId>
    <UserName>$AzureFonctions20231204124516</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefonctions20231204124516.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>